
<div class="loginPage">
  <div class="loginBox">
    <div class="loginLogo">ballr</div>
    <h1>Login</h1>
    <form  action="<%= session_url %>" method="post">
      <%= auth_token_input %>

      <label class="email">Email
      </label>
        <input type="text" name="user[email]" >
      <br/>
      <label>
        Password
        <input type="password" name="user[password]" >
      </label>
      <br/>

      <input type="submit"  id="loginButton" value="Login">
    </form>
    <form action="<%= session_url %>" method="post">
      <%= auth_token_input %>
      <input type="hidden" name="user[email]" value="a@a.com">
      <input type="hidden" name="user[password]" value="password">
      <input type="submit" value="Guest Login" id="guestButton"/>
    </form>
  </div>
</div>
