.commentsContainer {
  width: 800px;
  margin: auto;
}

.newCommentContainer {
  width: 500px;
}
.newCommentContainer textarea {
  padding: 5px;
  font-size: 14px;
  display: block;
  height: 80px;
  width: 100%;
  resize: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.commentButton {
  color: white;
  background-color: #0091dc;
  float: right;
  height: 40px;
  width: 100px;
  font-size: 17px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.comment {
  height: 80px;
  border-bottom: 2px #8c8888 solid;
  margin-bottom: 5px;
}
.comment img {
  height: 60px;
  float: left;
  border-radius: 50%;
}


.comment  div:nth-child(2){
  /* username */
  color: #006dac;
  font-size: 18px;
}



.comment div:nth-child(3){
  font-size: 14px;
}
