.fullPhotoInfoContainer {
  height: auto;
  width: 1060px;
  margin-bottom: 10px;
  margin: auto;
}

.fullPhotoInfo {
  background: white;
  border-bottom: 2px #8c8888 solid;
  font-size:  large;
  width: 500px;
  height: auto;
  margin-left: 30px;
  margin-bottom: 10px;
}
.fullPhotoInfo > div {
  float: left;
}

.fullPhotoInfo .photoData {
  width: 85%;
}

.fullPhotoInfo .userName {
  width: 140px;
  display: inline-block;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 600;
}

.fullPhotoInfo #photoName {
  display: inline-block;
  text-align: center;
  font-size: 25px;
  color:  #0284cf;
  margin-bottom: 15px;
  width: 262px;
}

.fullPhotoInfo .albumName {
  margin-left: 20px;
}

.fullPhotoInfo h3 {
  margin-left: 20px;
}

.bottomStream {
  background: white;
}



.photoOwner {
  max-width: 100%;
}

.userData {
  width: 15%;
}

.userData div {
  text-align: center;
}
