.fullPhotoInfoContainer {
  height: 20%;
}

.fullPhotoInfo {
  font-size:  large;
  width: 800px;
  height: 100%;
  margin: auto;
}
.fullPhotoInfo div {
  float: left;
}

.fullPhotoInfo .photoData {
  width: 85%;
}


.fullPhotoInfo h2 {
  font-size: xx-large;
  color:  navy;
}



.photoOwner {
  max-width: 100%;
}

.userData {
  width: 15%;
}
