.fullPhotoInfoContainer {
  height: auto;
  margin-bottom: 10px;
}

.fullPhotoInfo {
  border-bottom: 2px #8c8888 solid;
  font-size:  large;
  width: 800px;
  height: 100%;
  margin: auto;
}
.fullPhotoInfo > div {
  float: left;
}

.fullPhotoInfo .photoData {
  width: 85%;
}


.fullPhotoInfo h2 {
  margin-left: 20px;
  font-size: xx-large;
  color:  #0284cf;
  margin-bottom: 15px;
}

.fullPhotoInfo h3 {
  margin-left: 20px;
}

.ownerName {
  margin-left: 20px;
}

.photoOwner {
  max-width: 100%;
}

.userData {
  width: 15%;
}

.userData div {
  text-align: center;
}
