.userPage {
  height: 90%;
}

.photoStream {
  height: auto;
  max-height: 600px;
  background: #212124;
}

.photoStream .stream {
  height: 85%;
}

.photoStream .stream div {
  float:left;
  height: 100%;
}

.photoStream .stream .change {
  width: 15%;
  font-size: xx-large;
  color: white;
  line-height: 10;
  text-align: center;
}

.photoStream .stream .change:hover {
  color: blue;
  cursor: pointer;
}



.photoStream .stream .photo {
  width: 70%;
  text-align: center;
}

.photo img {
  width: 100%;
  max-width: 600px;
  max-height: 400px;
  /*position: relative;*/
  /*top: 50%;*/
  /*transform: translateY(-50%);*/
}

.photoStream .albumPhotos {
  height: 175px;
  background-color: #212124;
  text-align: center;
  width: 100%;
  overflow-x: auto;
  margin-top: 15px;
}

.albumPhotos img {
  max-height: 95%;
  cursor: pointer;
}

.albumPhotos img.tileSelected {
  border: solid;
  border-color: green;
}




.albumPhotos img:hover {

  -webkit-transform:scale(1.25); /* Safari and Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* IE 9 */
  -o-transform:scale(1.25); /* Opera */
   transform:scale(1.25);
}
