.userPage {
  background: #f3f5f6;
  width: 100%;
  height: calc(100vh - 100px);
  margin-top: 46px;
  overflow: auto;
}

.photoStream {
  /*height: 800px;*/
  background: #212124;
}

.photoStream .stream {
  height: 625px;
}

.photoStream .stream div {
  float:left;
  height: 100%;
}

.photoStream .stream .change {
  width: 15%;
  font-size: xx-large;
  color: white;
  line-height: 10;
  text-align: center;
}

.photoStream .stream .change:hover {
  color: blue;
  cursor: pointer;
}



.photoStream .stream .photo {
  width: 70%;
  text-align: center;
  position: relative;

}

.photo img {
  width: 100%;
  max-width: 900px;
  padding: 10px;
}

.ownerName {
  font-size: 15px;
}

.albumPhotos {
  background: #212124;
  text-align: center;
}

.albumPhotosContainer {
  position: relative;
  background: #212124;
  margin-top: 100px;
  width: 80%;
  margin: auto;
  overflow: auto;

}

.albumPhotosContainer div {
  display: inline-block;
}

.albumPhotosContainer div img {
  max-height: 40px;
  margin: 5px;
  cursor: pointer;
}
.albumPhotosContainer div img:hover {
  transform: scale(1.50);
}

.albumPhotosContainer div img.tileSelected {
  border: solid;
  border-color: green;
}




.albumPhotosContainer:hover {
  /*zoom: 225%;*/
  margin-top: 0;
  /*-webkit-transform:scale(3.5);
  -moz-transform:scale(1.5);
  -ms-transform:scale(1.5);
  -o-transform:scale(1.5);
  transform:scale(1.5);*/
}
