.splash {
  height: 100%;
  width: 100%;
}

#splash1 {
  background: url('http://res.cloudinary.com/dayd3nm4v/image/upload/v1456684458/steph_3_hfph5e.jpg');
  background-position:center;
  height: 600px;
  width: 100%;
  padding-top: 30px;
  cursor: pointer;
}
.hook {
  text-align: center;
  font-size: 60px;
  background-color: transparent;
  margin: auto;
  height: 50%;
  width: 80%;
  color: white;
  transform: translateY(30%);
}


.hook div:nth-child(1) {
  padding-top: 9%;
  font-size: 60px;
}

.hook div:nth-child(2) {
  padding-top: 2%;
  font-size: 35px;
}


#splash2 {
  display: inline-block;
  width: 100%;
  background-color: rgb(220,220,220);
}

.prompt {
  height: 150px;
  text-align: center;
}

.prompt > h1 {
  font-size: 40px;
  margin-top: 20px;
  padding-top: 20px;
  height: auto;
  width: 50%;
  margin : auto;
  color: black;
}

.prompt > h2 {
  font-size: 25px;
  width: 50%;
  margin: auto;
}


.splashBar {
  margin: auto;
  width: 950px;
  color: white;
  margin-bottom: 50px;
}

.splashBar > div {
  float: left;
  width: 30%;
  margin-left: 12.5px;
  margin-right: 12.5px;
  height: 344px;
  cursor: pointer;
  box-shadow: #2b2d2e 0 4px 4px;

}

.splashBar > div:nth-child(1) {
  margin-left: 3%;
  background:  linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url('http://res.cloudinary.com/dayd3nm4v/image/upload/v1456158502/messi0_n2gtnf.jpg');
  background-position:center;
  background-size: 100% 100%;
}

.splashBar > div:nth-child(1):hover {
  background: url('http://res.cloudinary.com/dayd3nm4v/image/upload/v1456158502/messi0_n2gtnf.jpg');
  background-position:center;
  background-size: 100% 100%;
}

.splashBar div:nth-child(2) {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('http://res.cloudinary.com/dayd3nm4v/image/upload/v1456684830/calvin_stiff_k3jydv.jpg');
  background-position:center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.splashBar div:nth-child(2):hover {
  background: url('http://res.cloudinary.com/dayd3nm4v/image/upload/v1456684830/calvin_stiff_k3jydv.jpg');
  background-position:center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.splashBar div:nth-child(3) {
  background:  linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url('http://res.cloudinary.com/dayd3nm4v/image/upload/v1456158570/curry_jsfroy.jpg');
  background-position:center;
  background-size: 100% 100%;
}

.splashBar div:nth-child(3):hover {
  background:  url('http://res.cloudinary.com/dayd3nm4v/image/upload/v1456158570/curry_jsfroy.jpg');
  background-position:center;
  background-size: 100% 100%;
}

.splashBar .tileLabel {
  font-size: 40px;
  text-align: center;
  padding-top: 125px;
}

#footer {
  background-color: #2b2d2e;
  width: 100%;
  margin: auto;
}

.footerContent {
  width: 550px;
  margin: auto;
  padding-top: 25px;
  height: 100px;
  padding-bottom: 25px;

}


.footerContent div{
  padding-left: 50px;
  padding-right: 50px;
  float: left;
}

#footer img {
  height: 50px;
  cursor: pointer;
}
