.splash {
  height: 100%;
  width: 100%;
  cursor: pointer;

}

#splash1 {
  background: url('http://res.cloudinary.com/dayd3nm4v/image/upload/v1447510131/curry_trophy_mootww.png');
  background-position:center;
  height: 600px;
  width: 100%;
  padding-top: 30px;
}

#splash2 {
  display: inline-block;
  width: 100%;
  background-color: rgb(220,220,220);
}

.prompt {
  height: 175px;
  text-align: center;
}

.prompt > h1 {
  font-size: 40px;
  margin-top: 20px;
  padding-top: 45px;
  height: auto;
  width: 50%;
  margin : auto;
  color: black;
}

.prompt > h2 {
  font-size: 25px;
  width: 50%;
  margin: auto;
}

.hook {
  text-align: center;
  font-size: 60px;
  background-color: transparent;
  margin: auto;
  height: 50%;
  width: 40%;
  color: white;
}

.splashBar {
  margin: auto;
  width: 80%;
  color: white;
}

.splashBar > div {
  float: left;
  width: 30%;
  margin-left: 12.5px;
  margin-right: 12.5px;
  height: 344px;

}

.splashBar > div:nth-child(1) {
  background: url('messi.jpg');
  background-position:center;

  background-size: 100% 100%;

}

.splashBar div:nth-child(2) {
  background: url('http://res.cloudinary.com/dayd3nm4v/image/upload/v1446063725/b4C6HrTar7Ec0_cowzc1.gif');
  background-position:center;
  background-size: 100% 100%;
}


.splashBar div:nth-child(3) {
  background: url('nadal.jpg');
  background-position:center;
  background-size: 100% 100%;

}

.splashBar .tileLabel {
  font-size: 40px;
  text-align: center;
  padding-top: 150px;
}


.hook {
  transform: translateY(50%);
  width: 80%;
}

.hook h1 {
  padding-top: 9%;
  font-size: 60px;
}

.hook h2 {
  padding-top: 2%;
  font-size: 35px;
}
