.splash {
  height: 100%;
  width: 100%;
}

#splash1 {
  background: url('curry_trophy.jpg');
  background-position:center;
  background-repeat: no-repeat;
  height: 75%;
  background-size: 100% 100%;
}

.hook {
  cursor: pointer;
  text-align: center;
  font-size: large;
  background-color: transparent;
  margin: auto;
  height: 50%;
  width: 40%;
  color: white;
}

.splashBar {
  width: 100%;
  height: 50%;
}

.splashBar > div {
  float: left;
  width: 33.33%;
  height: 100%;
}

.splashBar div:nth-child(1) {
  background: url('messi.jpg');
  background-position:center;
  background-size: 100% 100%;

}

.splashBar div:nth-child(2) {
  background: url('ap_stiffarm.jpg');
  background-position:center;
  background-size: 100% 100%;

}

.splashBar div:nth-child(3) {
  background: url('nadal.jpg');
  background-position:center;
  background-size: 100% 100%;

}

.splashBar h3 {

}


.hook {
  transform: translateY(50%);
  width: 80%;
}

.hook h1 {
  padding-top: 15%;
  font-size: 40px;
}

.hook h2 {
  padding-top: 2%;
  font-size: 35px;
}
