.editAlbum {
  background: url('uefa.jpg');
  background-position: center;
  height: 100%;
  /*min-width: 1024px;*/

  /* Set up proportionate scaling */
  /*width: 100%;
  height: 95%;

  /* Set up positioning */
  /*position: fixed;*/
  /*top: 0;
  left: 0;*/
}

.editLabel {
  font-size: 30px;
}



.albumTileContainer {
  float: left;
  width: 10%;
  height: 95%;
  margin-left: 1%;
  margin-top: 1%;
  border-style: solid;
  border-width: 1px;
  background-color: teal;
}

.photoTileContainer {
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  float: right;
  width: 86%;
  height: 95%;
  border-style: solid;
  border-width: 1px;
  background-color: teal;
}

.editContainer {
  margin-top: 3%;
  opacity: 0.8;
  width: 90%;
  margin: auto;
  height: 80%;
  background-color: darkslategrey;
}

.editLabels{
  text-align: center;
  background-color: cadetblue;
  height: 5%;
  font-size: 25px;
  color: turquoise;
}





.albumList {
  height: 90%;
  list-style-type: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.albumList li {
  font-size: relative;
  height: 40px;
  border-style: solid;
  border-width: 1px;
  background-color: steelblue ;
}

.albumList li.selected {
  background-color: dodgerblue;
}
.albumList li:hover {
  background-color: darkturquoise;
}

.albumForm {
  height: 90%;
}

.albumButtons {
  width: 48%;
  text-align: center;
  font-size: 30px;
  border-style: solid;
  border-width: 1px;
}

.remove {
  float: left;
  background-color: silver;
}

.add {
  float: right;
  background-color: white;
}
