.filterBar {
  width: 250px;
  /*height: 100%;*/
  margin-top: 10px;

  background-color: rgba(16,29,68,1);
  margin-bottom: 1%;
  float: left;
  position: fixed;
  box-shadow: #2b2d2e 0 4px 4px;
}





.filterList {
  height: 100%;
  width: 92%;
  font-size: 30px;

}

.filterIcons {
  padding-top: 6px;
  width: 15%;
  float: right;
}

.filterList li {
  float: left;
  width: 100%;
  color: white;
  margin-top: 10px;
  padding: 10px;
}

.filterList li:hover {
  background: steelblue;
  cursor: pointer;
}

.filterSelected {
  background: steelblue;
}
