#footer {
  background-color: black;
  width: 100%;
  margin: auto;
  height: 40px;
  position: fixed;
  bottom: 0px;
}

.footerContent {
  float: right;
  width: 350px;
  margin: auto;
  padding-top: 5px;
  height: 30px;
  /*padding-bottom: 15px;*/

}


.footerContent div{
  padding-left: 50px;
  /*padding-right: 50px;*/
  float: left;
}

#footer img {
  height: 30px;
  cursor: pointer;
}
