.landingPage {
  /*background: url('football_wallpaper.jpg');
  background-position: center;*/
  height: auto;
  width:100%;
}

.landingContainer {
  height: 90%;
  padding-top: 5%;
}

.photoFeed {
  /*height: 85%;
  width: 60%;*/
  margin-left: 10%;
}

.feedPhotos {
  width: 750px;
  height: 400px;
}
