.loginBox {
  /*opacity: 0.8;*/
  width: 400px;
  height: auto;
  margin: auto;
  margin-top: 175px;
  background-color: white;

}

.loginBox h1 {
  margin-left: 15%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.loginBox form {
  margin-left: 60px;
}

.loginBox input {
  width: 60%;
  height: 20px;
  margin-bottom: 5px;

}
.loginPage {
  background: url('http://res.cloudinary.com/dayd3nm4v/image/upload/q_70/v1447510224/uefa_jfkcfi.jpg');
  background-position: center;
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.loginLogo {
  /*height: 20%;*/
  width: auto;
  background-color: #0B0B3B;
  color: white;
  text-align: center;
  font-size: 55px;
}

.email {
  margin-right: 34px;
}

.password {
  margin-right: 3px;
}

.loginExtras {
  width: 200px;
  float: left;
  text-align: center;
}

#new_user {
  margin-left: 140px;
}

#new_user_button {
  width: 100px;
  font-size: 25px;
}

#guest input{


}
#loginButton {
  /*margin-left: 30%;*/
  width: 100px;
  float: right;
  margin-right: 52px;
  font-size: 25px;
}

#signupButton {
  width: 50%;
  font-size: 25px;
  margin-left:20%;
}

#guestButton {
  margin-left: 80px;
  width: 209px;
  font-size: 20px;
  height: 30px;
  color: white;
  background-color: #60CEE9;
  border: 0px;
  /*margin-left: 30%;*/
}

#redirect {
  width: 75%;
  font-size: 25px;
  margin-left: 10%;
}

#signUpRedirect {
  width: 40%;
}
