.navbar {
  background-color: rgba(11,11,59,1);
  color: white;
  display: inline-block;
  width: 100%;
}


.logo img {
  float: left;
  margin-left: 15%;
  width: 120px;
}

.browseButton{
  float: left;
  padding: 10px;
  font-size: x-large;
  width: auto;
}
.browseButton:hover {
  color: turquoise;
  cursor: pointer;

}

.navbar .navButtons {
  margin-right: 5%;
  cursor: pointer;
}

.navbar .navButtons > div > * {
  float: right;
  padding: 10px;
  font-size:  x-large;
}
.navbar .navButtons > div > *:hover {
  color: turquoise;
}

.navbar .loginButtons {
  float :left;
  padding-left: 10px;
}
