.navbar {
  background-color: rgba(11,11,59,1);
  color: white;
  display: inline-block;
  width: 100%;
}

.logo {
  float: left;
  font-size: 40px;
  margin-left: 15%;
}
.logo:hover {
  color: turquoise;
}

.navbar .navButtons {
  margin-right: 5%;
}

.navbar .navButtons > div > * {
  float: right;
  padding: 10px;
  font-size:  x-large;
}
.navbar .navButtons > div > *:hover {
  color: turquoise;
}

.navbar .loginButtons {
  float :left;
  padding-left: 10px;
}
