.navbar {
  background-color: #0B0B3B;
  color: white;
  height: 7%;
  font-size: 40px;
  width: 100%;
}

.logo {
  float: left;
  margin-left: 15%;
}
.logo:hover {
  color: turquoise;
}

.navbar .navButtons > div > * {
  float: right;
  padding-right: 15px;
}
.navbar .navButtons > div > *:hover {
  color: turquoise;
}

.navbar .loginButtons {
  float :left;
  padding-left: 10px;
}
