.photoTiles {
  margin: 10px;
  width: 200px;
  height: 160px;
}



.photoLabel {
  color: white;
  float: left;
  width: 80%;
  font-size: 30px;
  text-align: center;
  background-color: rgb(60,60,60);
  height: auto;
  font-size: 25px;
}

.photoList {
  list-style-type: none;
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}

.photoList li.selected {
  outline:2px solid yellow;
  background: gray;
}

.photoTileContainer li {
  cursor: pointer;
  margin: 10px;
  height: 220px;
  width: 220px;
  float: left;
}

.photoTileContainer li:hover {
  background: gray;
}

/* photo names */
.photoTileContainer h2 {
  float: left;
  width: auto;
  height: 10%;
  font-size: initial;
  text-align: center;
}

.photoTileContainer div {
  color: white;
}

.photoTileInfo {
  margin-left: 10px;
  width: 200px;
  height: 20px
  margin-top: 2px;
}


.photoButtons div {
  color : black;
  float: left;
  font-size: medium
}


.uploadButton {
  float: left;
  margin-top: 5px;
  text-align: center;
  width: 80px;
  height: 20px;
  border-style: solid;
  border-width: 1px;
  background-color: lightskyblue;
}

#uploadButton {
  background-color: seagreen;
}

#deleteButton {
  background-color: silver;
}
.deleteButton {
  float: left;
  margin-top: 5px;
  text-align: center;
  width: 80px;
  height: 20px;
  border-style: solid;
  border-width: 1px;
  background-color: lightskyblue;
}


.editPhotoDetails {
  position: static;
  bottom: 100px;

}

.editPhotoDetails form label {
  font-size: large;
  margin-right: 10px;
}


.editPhotoDetails div {
  padding-top: 8px;
  font-size: 23px;
  background-color: #2458B7;
  height: 33px;
  margin-bottom: 10px;
}

.editPhotoDetails input,select {
  margin-left: 5px;
}

.editPhotoDetails .editName {
  width: 300px;
}
.editPhotoDetails * {
  font-size: large;
}
