.photoTiles {
  width: 280px;
  height: 200px;

}

.photoList {
  list-style-type: none;
  padding: 15px;
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.photoTileContainer li {
  width: 290px;
  float: left
}
