.photoTiles {
  width: 280px;
  height: 200px;

}

.photoLabel {
  float: left;
  width: 85%;
  font-size: 30px;
  text-align: center;
  background-color: cadetblue;
  height: 5%;
  font-size: 25px;
  color: turquoise;
}

.photoList {
  list-style-type: none;
  padding: 15px;
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

.photoTileContainer li {
  width: 290px;
  float: left
}

.photoTileContainer div {
  background-color: cadetblue;
}



.photoButtons div {
  float: left;
}


.uploadButton {
  float: left;
  margin-top: 5px;
  text-align: center;
  width: 80px;
  height: 20px;
  border-style: solid;
  border-width: 1px;
  background-color: lightskyblue;
}

#uploadButton {
  background-color: lightskyblue;
}

#deleteButton {
  background-color: salmon;
}
.deleteButton {
  float: left;
  margin-top: 5px;
  text-align: center;
  width: 80px;
  height: 20px;
  border-style: solid;
  border-width: 1px;
  background-color: lightskyblue;
}
