#userBar {
  float: left;
  width: 25%;
  height: 100%;
  background-color: rgba(173,216,230,0.5);
}

#userBar img {
  width: 100%;
}

/*username*/
#userBar .userName {
  width: 100%;
  height: auto;
  font-size: x-large;
  text-align: center;
  background-color: steelblue;
}

.userInfo > .userPhotoUpload {
  background-color: teal;
  font-size: large;
  text-align: center;
  width: 100%;
  height: auto;
  border-width: thin;
  border-style: solid;
  width: 80%;
  margin: auto;

}


.userInfo {
  height: 100%;
}

.userInfo label {
  font-size: large;
}
.userInfo .userStats {
  width: 80%;
  margin: auto;
  text-align: center;
  background-color: rgba(255, 250, 250, 0.5);
}
