#userBar {
  float: left;
  width: 20%;
  height: 87%;
  background-color: rgba(173,216,230,0.5);
}

#userBar img {
  width: 200px;
  height: 200px;
}

#userBar ul {
  direction: rtl;
  overflow-y: auto;
  height: 100%;
}

.userInfo:first-child {
  margin-bottom: 1%;
  outline-:5px solid black;
}

#userBar h1 {
  font-size: x-large;
  text-align: center;
  background: seagreen;
}

/*username*/
#userBar .userName {
  width: 100%;
  height: auto;
  font-size: x-large;
  text-align: center;
  background-color: steelblue;
}

.userInfo > .userPhotoUpload {
  background-color: teal;
  cursor: pointer;
  font-size: large;
  width: 100%;
  height: auto;
  border-width: thin;
  border-style: solid;
  width: 80%;
  margin: auto;

}


.userInfo {
  height: auto;
  text-align: center;
}

.userInfo label {
  font-size: large;
}
.userInfo .userStats {
  width: 80%;
  margin: auto;
  text-align: center;
  background-color: rgba(255, 250, 250, 0.5);
}
