#userBar {
  float: left;
  width: 25%;
  height: 100%;
  background-color: rgba(173,216,230,0.5);
}

#userBar img {
  width: 100%;
}

/*username*/
#userBar .userName {
  width: 100%;
  height: auto;
  font-size: x-large;
  text-align: center;
  background-color: steelblue;
}
